#seconddiv{
    width:30%;
    background-color:darkkhaki;
    border-style: solid;
    border-bottom-right-radius: 0cm;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-right: 450px;
    margin-left: 500px;
    padding-left:03%;
    padding-right:03%;
    padding-bottom:03%;
    padding-top:03%;
}

